@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*, *::after, *::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat';
}
/* NAV BAR */
.section_one{
    height: 100vh;
    width: 100vw;
    /* background-color: #ffffff; */
}
.firstline{
    height: 10%;
    width: 100%;
    background-color: #ab1457;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* position: fixed; */
    
}
.logo{
    margin: 25px;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 10px;
    border: black solid 2px;
}
.logo h2{
    font-size: 20px;
}
.WDlogo{
    padding-top: 10px;
    height: 50px;
    width: 10%;
    justify-content: start;
    align-items: center;
    border-radius: 100px;
}
.nav{
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a {
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    transition: color 0.3s; 
}
.nav a:active {
    color: black
}
.nav a:hover {
    color: black;
}
 ul{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 20px;

}



/* ABOUT ME */
.parent{
    height: 90%;
    width: 100%;

}
.child1{
    height: 40%;
    width: 100%;
}
.background{
    height: 100%;
    width: 100%;
    position: relative;
}
.bg{
    height: 100%;
    width: 100%;
}
.background_text{
    position: absolute;
    top: 0;
    padding: 10px;
    margin-left: 25px;
    color: black;
    line-height: 30px;
}
.background_text h3{
    color: black;
    font-size: 20px;
}
.background_text h1{
    color: black;
    font-size: 25px;
}

.child2{
    height: 60%;
    width: 100%;
    display: flex;

}
.containerL{
    height: 100%;
    width: 30%;
    margin-left: 150px;
    border: black solid 2px;

}
.container_ID{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ID{
    height: 170px;
    width: 170px;
}
.text_containerL{
    height: 30%;
    width: 100%;
}
.text_containerL h1{
    text-align: center;
    color: #ab1457;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.text_containerL h4{
    text-align: center;
    font-size: 15px;
}
.containerR{
    height: 90%;
    width: 40%;
}
.div1{
    height: 25%;
    width: 100%;
}
.aboutme{
    margin-top: 25px;
}
.aboutme h2{
    color: black;
    font-size: 15px;
    margin: 0;
}
.aboutme h1{
    color: #ab1457;
    font-size: 20px;
}
.div2{
    height: 45%;
    width: 100%;
    align-items: start;
}
.abouttext{
    padding-top: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.abouttext p{
    font-size: 16px;
}
.div3{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    height: 90%;
    width: 25%;
    border: #ca8787 3px solid;
    margin-left: 10px;
    margin-right: 10px;
}
.box1 h4{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;

}
.box1 h5{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.box2 h4{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;

}
.box2 h5{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.box3 h4{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;

}
.box3 h5{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}



/* SECTION 2 "HOBBIES"*/
.section_two{
    height: 100vh;
    width: 100vw;
    /* background-color: white; */
    flex-direction: column;
    display: flex;
}
.parenttitle_H{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
}
.hobby_cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hobby_title{
    display: grid;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}
.hobby_title::before, .hobby_title::after{
    content: "";
    height: 2.5px;
    width: 600px;
    background-color: black;
    display: block;
}
.parentcontent_H{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent1{
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.baby1{
    height: 70%;
    width: 25%;
    border-radius: 50px;
    background-color: #ffefef;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.coding_icon{
    height: 30%;
    width: 45%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
.code_icon{
    height: 100%;
    width: 100%;
}
.code_text{
    height: 60%;
    width: 100%;
}
.code_text h4{
    margin-left: 20px;
    font-size: 30px;
}
.code_text p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
}
.baby2{
    height: 70%;
    width: 25%;
    border-radius: 50px;
    background-color: #ffefef;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sports_icon{
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.sport_icon{
    height: 100%;
    width: 100%;
}
.sport_text{
    height: 60%;
    width: 100%;
}
.sport_text h4{
    margin-left: 20px;
    font-size: 30px;
}
.sport_text p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
}
.baby3{
    height: 70%;
    width: 25%;
    border-radius: 50px;
    background-color: #ffefef;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.travelling_icon{
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.travel_icon{
    height: 100%;
    width: 100%;
}
.travel_text{
    height: 60%;
    width: 100%;
}
.travel_text h4{
    margin-left: 20px;
    font-size: 30px;
}
.travel_text p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
}



/* THIRD SECTION "ANYTHING" */
.section_three{
    height: 100vh;
    width: 100vw;
    /* background-color: #ffffff; */
}
.parenttitle_A{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.services_cont{
    display: flex;
    align-items: center;
    justify-content: start;
    /* margin: 20px; */
}
.services_title{
    display: grid;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}
.services_title::before, .services_title::after{
    content: "";
    height: 2px;
    width: 600px;
    background-color: black;
    display: block;
}
.parentcontent_A{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thirdparent{
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxL{
    height: 100%;
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.webpic{
    height: 45%;
    width: 65%;
    margin-top: 10px;
    margin-left: 70px;
}
.web_pic{
    height: 100%;
    width: 100%;
}
.web_text {
    height: 50%;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
}
.web_title{
    margin: 10px;
}
.web_title h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.web_title p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 30px;
    color: #ab1457;
    letter-spacing: .5px;
    line-height: 30px;
}
.boxR{
    height: 100%;
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}
.graphicpic{
    height: 45%;
    width: 65%;
    margin-top: 10px;
    margin-left: 70px;
}
.gd_pic{
    height: 100%;
    width: 100%;
}
.gd_text {
    height: 50%;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
}
.gd_title{
    margin-top: 10px;
}
.gd_title h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.gd_title p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
    color: #ab1457;
    letter-spacing: 2px;
    line-height: 35px;
}


/* FOURTH SECTION "SKILLS" */
.section_four{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: pink solid 2px;
}
.parenttitle_S{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills_cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills_title{
    display: grid;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}
.skills_title::before, .skills_title::after{
    content: "";
    height: 2.5px;
    width: 600px;
    background-color: black;
    display: block;
}
.parentcontent_S{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-section {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 1000px; 
    width: 100%; 
    justify-content: center;
    align-items: center;
}
.skill-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    padding: 20px;
    text-align: center;
}
.icon {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #ab1457;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}
.icon1 {
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #ab1457;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}
h3 {
    color: #ab1457;
    margin-bottom: 10px;
    font-size: 18px;
}
p {
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
}
.progress-bar {
    background-color: #ddd;
    border-radius: 25px;
    width: 100%;
    height: 10px;
    overflow: hidden;
}
.progress {
    height: 100%;
    border-radius: 25px;
}
.progress-photoshop {
    width: 85%; 
    background-color: #ab1457; 
}

.progress-illustrator {
    width: 90%; 
    background-color: #ab1457; 
}

.progress-html-css {
    width: 80%; 
    background-color: #ab1457; /
}

.progress-javascript {
    width: 75%; 
    background-color: #ab1457; 
}

.progress-flash {
    width: 65%; 
    background-color: #ab1457; 
}

.progress-csharp {
    width: 70%; 
    background-color: #ab1457; 
}



 /* FIFTH SECTION 'GALLERY' */
.section_five{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: #ffffff; */

 }
.parenttitle_G{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;

}
.gallery_cont{
    display: flex;
    align-items: center;
    justify-content: start;
    /* margin: 20px; */
}
.gallery_title{
    display: grid;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}
.gallery_title::before, .gallery_title::after{
    content: "";
    height: 2.5px;
    width: 600px;
    background-color: black;
    display: block;
}
.parentgal{
    height: 90%;
    width: 60%;
    display: flex;
    align-items: center;
}
.parentcontent_G{
    height: 80%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.galleryL{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}
.tokyo{
    height: 100%;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}
.galleryR{
    height: 100%;
    width:50%;

}
.up{
    height: 50%;
    width: 90%;

    justify-content: space-evenly;
    display: flex;
    gap: 10px;
}
.bread{
    height: 95%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.lion{
    height: 95%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}
.down{
    height: 50%;
    width: 90%;

    justify-content: space-evenly;
    display: flex;
    gap: 10px;
}
.downL{
    height: 100%;
    width: 50%;

    display: flex;
    align-items: end;
}
.gd1{
    height: 95%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.downR{
    height: 100%;
    width: 50%;

    display: flex;
    align-items: end;
}
.paris{
    height: 95%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* SIXTH SECTION 'REVIEWS' */
.section_six{ 
    height: 100vh;
    width: 100vw;
    /* background-color: #ffffff; */
}
.parenttitle_R{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content:start;
}
.reviews_cont{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 20px;
}
.reviews_title{
    display: grid;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}
.reviews_cont h2{
    font-size: 20px;
}
.reviews_title::after{
    content: "";
    height: 2.5px;
    width: 1100px;
    background-color: black;
    display: block;
}
.container {
    height: 80%;
    width: 80%;
    margin: auto;
    /* text-align: center; */
    padding: 20px 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 30px;
}

.review {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.profile {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.avatar {
    width: 60px;
    height: 6%;
    border-radius: 50%;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin: 0;
    margin-left: 20px;
}

p {
    flex: 1;
    font-size: 16px;
    text-align: left;
}

.footer {
    height: 10%;
    width: 100%;
    background-color: #ab1457;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: auto;
}
.left{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.footer-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-left .footer-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer-right {
    display: flex;
    align-items: center;
}
.footer-right .footer-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-right span {
    font-size: 14px;
    color: black;
}
.right {
    width: 70%;
    text-align: center; 
    margin: 0 auto; 
}

.footer p {
    margin: 5px 0; 
    font-size: 14px; 
    line-height: 1.5; 
}




/* RESPONSIVENESS */
@media (max-width: 480px){
    
    section{
        background-color: white;
    }



}


/* ------------------------------------------------------------------- */
@media (min-width: 480px) and (max-width: 576px){

    section{
        background-color: white;
    }
}


/* ------------------------------------------------------------------- */
@media (min-width: 576px) and (max-width: 768px){

    .section_one{
        background-color: white;
        height: 87vh;
    }
    /* SECTION ONE */
    .firstline{
        height: 8.2%;
        width: 100%;
    }
    .logo{
        margin: 15px;
        width: 50%;
        gap: 20px;
        font-size: 10px;
    }
    .logo h2{
        font-size: 9px;
    }
    .WDlogo{
        padding-top: 10px;
        height: 40px;
        width: 15%;
    }
    .nav{
        margin: 33px;
        width: 58%;
    }
    .nav ul li a {
        font-size: 10px;
    }
    .child1{
        height: 33%;
        width: 100%;
    }
    .background{
        height: 100%;
        width: 100%;
        position: relative;
    }
    .bg{
        height: 100%;
        width: 100%;
    }
    .background_text{
        line-height: 25px;
    }
    .background_text h3{
        color: black;
        font-size: 18px;
    }
    .containerL{
        height: 100%;
        width: 45%;
        margin-right: 10px;
        margin-left: 35px;
        border: black solid 2px;
    }
    .ID{
        height: 130px;
        width: 130px;
    }
    .text_containerL h1{
        font-size: 16px;
    }
    .text_containerL h4{
        font-size: 13px;
    }
    .containerR{
        height: 85%;
        width: 45%;
        border: black solid 2px;
    }
    .aboutme h2{
        font-size: 13px;
    }
    .aboutme h1{
        font-size: 16px;
    }
    .div2{
        margin-bottom: 15px;
    }
    .abouttext p{
        font-size: 10px;
    }
    .div3{
        height: 20%;
        width: 100%;
        border: black solid 2px;
    }
    .box{
        height: 90%;
        width: 25%;
    }
    .box1 h4{
        margin-top: 13px;
        font-size: 13px;
    }
    .box1 h5{
        font-size: 8.3px;
    }
    .box2 h4{
        margin-top: 13px;
        font-size: 13px;
    }
    .box2 h5{
        font-size: 5.8px;
    }
    .box3 h4{
        margin-top: 13px;
        font-size: 13px;
    }
    .box3 h5{
        font-size: 5.5px;
    }
 
/* SECTION TWO HOBBIES*/
 
    .section_two{
        border: red solid 2px;
        height: 87vh;
    }
    .parenttitle_H{
        height: 7.5%;
        border: black solid 2px;
    }
    .parentcontent_H{
        height: 80%;
        width: 100%;
    }
    .hobby_title::before, .hobby_title::after{
        width: 135px;
    }
    .parent1{
        height: 80%;
        width: 90%;
    }
    .baby1, .baby2, .baby3{
        height: 65%;
        width: 30%;
    }
    .code_icon{
        height: 75%;
        width: 75%;
    }
    .code_text h4{
        font-size: 17px;
    }
    .code_text p{
        font-size: 12px;
    }
    .sport_icon{
        height: 75%;
        width: 75%;
    }
    .sport_text h4{
        font-size: 16px;
    }
    .sport_text p{
        font-size: 12px;
    }
    .travel_icon{
        height: 75%;
        width: 75%;
    }
    .travel_text h4{
        font-size: 17px;
    }
    .travel_text p{
        font-size: 11px;
    }

 
/* SECTION THREE SERVICES*/
    .section_three{
        border: black solid 2px;
        height: 87vh;
    }
    .parenttitle_A{
        height: 8.5%;
        width: 100%;
        border: black solid 2px;
    }
    .parentcontent_A{
        height: 90%;
        width: 100%;
        border: blue solid 2px;
    }
    .services_title::before, .services_title::after{
        height: 2.4px;
        width: 135px;
 
    }
    .thirdparent{
        height: 65%;
        width: 85%;
        border: black solid 2px;
    }
    .web_pic{
        height: 75%;
        width: 75%;
    }
    .web_title h3{
        font-size: 10px;
    }
    .web_title p{
        font-size: 12px;
        line-height: 25px;
    }
    .gd_pic{
        height: 75%;
        width: 75%;
    }
    .gd_title h3{
        font-size: 13px;
    }
    .gd_title p{
        font-size: 12px;
        line-height: 25px;
    }
/* SECTION FOUR SKILLS*/
    .section_four{
        border: green solid 2px;
        height: 87vh;
    }
    .parenttitle_S{
        height: 8.5%;
        width: 100%;
        border: black solid 2px;
    }
    .skills_title::before, .skills_title::after{
        width: 135px;
    }
    .parentcontent_S{
        height: 90%;
        width: 90%;
        border: green solid 2px;
    }
    .skills-section {
        height: 65%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: 900px;
        width: 95%;
        justify-content: center;
        align-items: center;
        border: yellow solid 2px;
    }
    .icon{
        font-size: 13px;
        width: 45px;
        height: 45px;
    }
    .icon1{
        font-size: 8px;
    }
    h3 {
        margin-bottom: 10px;
        font-size: 9px;
    }
    p {
        color: black;
        font-size: 8px;
        margin-bottom: 20px;
    }
 
/* SECTION FIVE GALLERY */
    .section_five{
        border: red solid 2px;
        height: 87vh;
    }
    .parenttitle_G{
        height: 8.5%;
        border: black solid 2px;
    }
    .gallery_title::before, .gallery_title::after{
        width: 135px;
    }
    .parentgal{
        height: 90%;
        width: 70%;
        border: red solid 2px;
    }
    .parentcontent_G{
        height: 40%;
        width: 100%;
    }
 
/* SECTION SIX REVIEWS */
    .section_six{
        border: black solid 2px;
        height: 87vh;
    }
    .parenttitle_R{
        height: 8.5%;
        width: 100%;
        border: black solid 2px;
    }
    .reviews_cont h2{
        font-size: 15px;
    }
    .reviews_title::after{
        content: "";
        height: 2.5px;
        width: 500px;
        background-color: black;
        display: block;
    }
    .container {
        height: 80%;
        width: 80%;
        border: green solid 2px;
    }
    h2 {
        font-size: 11px;
        margin: 0;
        margin-left: 3px;
    }
    p {
        font-size: 12px;
    }
    .left{
        height: 100%;
        width: 30%;
    }
    .footer-left .footer-icon {
        width: 13px;
        height: 13px;
        margin: 0 10px;
    }
    .footer-right span {
        font-size: 8px;
        color: black;
    }
    .right {
        width: 40%;
        text-align: center; 
        margin: 0 auto; 
    }
    .footer p {
        font-size: 6.5px; 
        line-height: 1.3; 
    }

}


/* ------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1040px) {

    .section_one{
        background-color: white;
        height: 68vh;
    }
    /* SECTION ONE */
    .firstline{
        height: 8.2%;
        width: 100%;
    }
    .logo{
        margin: 18px;
        width: 50%;
        gap: 20px;
        font-size: 10px;
    }
    .logo h2{
        font-size: 16px;
    }
    .WDlogo{
        padding-top: 10px;
        height: 50px;
        width: 15%;
    }
    .nav{
        margin: 33px;
        width: 55%;
    }
    .nav ul li a {
        font-size: 14px;
    }
    .child1{
        height: 33%;
        width: 100%;
    }
    .background{
        height: 100%;
        width: 100%;
        position: relative;
    }
    .bg{
        height: 100%;
        width: 100%;
    }
    .background_text{
        line-height: 25px;
    }
    .background_text h3{
        color: black;
        font-size: 18px;
    }
    .containerL{
        height: 100%;
        width: 40%;
        margin-right: 10px;
        margin-left: 80px;
        border: black solid 2px;
    }
    .ID{
        height: 145px;
        width: 145px;
    }
    .text_containerL h1{
        font-size: 18px;
    }
    .text_containerL h4{
        font-size: 14px;
    }
    .containerR{
        height: 85%;
        width: 45%;
        border: black solid 2px;
    }
    .aboutme h2{
        color: black;
        font-size: 15px;
        margin: 0;
    }
    .aboutme h1{
        color: #ab1457;
        font-size: 20px;
    }
    .div2{
        margin-bottom: 15px;
    }
    .abouttext p{
        font-size: 12px;
    }
    .div3{
        height: 20%;
        width: 100%;
        border: black solid 2px;
    }
    .box{
        height: 90%;
        width: 25%;
    }
    .box1 h4{
        margin-top: 10px;
    }
    .box1 h5{
        font-size: 11px;
    }
    .box2 h4{
        margin-top: 10px;
    }
    .box2 h5{
        font-size: 8.5px;
    }
    .box3 h4{
        margin-top: 10px;
    }
    .box3 h5{
        font-size: 8px;
    }
 
/* SECTION TWO HOBBIES*/
 
    .section_two{
        border: red solid 2px;
        height: 68vh;
    }
    .parenttitle_H{
        height: 7.5%;
        border: black solid 2px;
    }
    .parentcontent_H{
        height: 80%;
        width: 100%;
    }
    .hobby_title::before, .hobby_title::after{
        width: 220px;
    }
    .parent1{
        height: 80%;
        width: 90%;
    }
    .baby1, .baby2, .baby3{
        height: 70%;
        width: 30%;
    }
    .code_icon{
        height: 80%;
        width: 80%;
    }
    .code_text h4{
        font-size: 20px;
    }
    .code_text p{
        font-size: 14px;
    }
    .sport_icon{
        height: 80%;
        width: 80%;
    }
    .sport_text h4{
        font-size: 20px;
    }
    .sport_text p{
        font-size: 14px;
    }
    .travel_icon{
        height: 80%;
        width: 80%;
    }
    .travel_text h4{
        font-size: 20px;
    }
    .travel_text p{
        font-size: 13.5px;
    }

 
/* SECTION THREE SERVICES*/
    .section_three{
        border: black solid 2px;
        height: 68vh;
    }
    .parenttitle_A{
        height: 8.5%;
        width: 100%;
        border: black solid 2px;
    }
    .parentcontent_A{
        height: 90%;
        width: 100%;
        border: blue solid 2px;
    }
    .services_title::before, .services_title::after{
        height: 2.5px;
        width: 230px;
 
    }
    .thirdparent{
        height: 70%;
        width: 85%;
        border: black solid 2px;
    }
    .web_pic{
        height: 85%;
        width: 85%;
    }
    .web_title h3{
        font-size: 15px;
    }
    .web_title p{
        font-size: 14px;
        line-height: 27px;
    }
    .gd_pic{
        height: 85%;
        width: 85%;
    }
    .gd_title h3{
        font-size: 17px;
    }
    .gd_title p{
        font-size: 14px;
        line-height: 27px;
    }
/* SECTION FOUR SKILLS*/
    .section_four{
        border: green solid 2px;
        height: 68vh;
    }
    .parenttitle_S{
        height: 8.5%;
        width: 100%;
        border: black solid 2px;
    }
    .skills_title::before, .skills_title::after{
        width: 230px;
    }
    .parentcontent_S{
        height: 90%;
        width: 90%;
        border: green solid 2px;
    }
    .skills-section {
        height: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: 900px;
        width: 90%;
        justify-content: center;
        align-items: center;
        border: yellow solid 2px;
    }
    .icon{
        font-size: 15px;
        width: 50px;
        height: 50px;
    }
    h3 {
        color: #ab1457;
        margin-bottom: 10px;
        font-size: 16px;
    }
    p {
        color: black;
        font-size: 12px;
        margin-bottom: 20px;
    }
 
/* SECTION FIVE GALLERY */
    .section_five{
        border: red solid 2px;
        height: 68vh;
    }
    .parenttitle_G{
        height: 8.5%;
        border: black solid 2px;
    }
    .gallery_title::before, .gallery_title::after{
        width: 350px;
    }
    .parentgal{
        height: 90%;
        width: 70%;
        border: red solid 2px;
    }
    .parentcontent_G{
        height: 50%;
        width: 100%;
    }
 
/* SECTION SIX REVIEWS */
    .section_six{
        border: black solid 2px;
        height: 68vh;
    }
    .parenttitle_R{
        height: 8.5%;
        width: 100%;
        border: black solid 2px;
    }
    .reviews_cont h2{
        font-size: 15px;
    }
    .reviews_title::after{
        content: "";
        height: 2.5px;
        width: 500px;
        background-color: black;
        display: block;
    }
    .container {
        height: 80%;
        width: 80%;
        border: green solid 2px;
    }
    h2 {
        font-size: 15px;
        margin: 0;
        margin-left: 5px;
    }
    p {
        font-size: 16px;
    }
    .footer-left .footer-icon {
        width: 25px;
        height: 25px;
        margin: 0 10px;
    }
    .footer-right span {
        font-size: 12px;
        color: black;
    }
    .right {
        width: 50%;
        text-align: center; 
        margin: 0 auto; 
    }
    .footer p {
        font-size: 12px; 
        line-height: 1.5; 
    }

}
    




/* ------------------------------------------------------------------- */
@media (min-width: 1040px) and (max-width: 1440px){

    .section_one{
        background-color: white;
        height: 82vh;
    }
    /* SECTION ONE */
    .firstline{
        height: 8.2%;
        width: 100%;
    }
    .logo{
        margin: 18px;
        width: 50%;
        gap: 20px;
        font-size: 10px;
    }
    .logo h2{
        font-size: 18px;
    }
    .WDlogo{
        padding-top: 10px;
        height: 50px;
        width: 15%;
    }
    .nav{
        margin: 33px;
        width: 55%;
    }
    .nav ul li a {
        font-size: 18px;
    }
    .child1{
        height: 33%;
        width: 100%;
    }
    .background{
        height: 100%;
        width: 100%;
        position: relative;
    }
    .bg{
        height: 100%;
        width: 100%;
    }
    .background_text{
        line-height: 25px;
    }
    .background_text h3{
        color: black;
        font-size: 18px;
    }
    .containerL{
        height: 100%;
        width: 40%;
        margin-right: 10px;
        margin-left: 80px;
        border: black solid 2px;
    }
    .ID{
        height: 160px;
        width: 160px;
    }
    .text_containerL h1{
        font-size: 20px;
    }
    .text_containerL h4{
        font-size: 16px;
    }
    .containerR{
        height: 85%;
        width: 45%;
        border: black solid 2px;
    }
    .aboutme h2{
        font-size: 15px;
    }
    .aboutme h1{
        font-size: 20px;
    }
    .div2{
        margin-bottom: 15px;
    }
    .abouttext p{
        font-size: 15px;
    }
    .div3{
        height: 20%;
        width: 100%;
        border: black solid 2px;
    }
    .box{
        height: 90%;
        width: 25%;
    }
    .box1 h4{
        margin-top: 10px;
    }
    .box1 h5{
        font-size: 13px;
    }
    .box2 h4{
        margin-top: 10px;
    }
    .box2 h5{
        font-size: 10.5px;
    }
    .box3 h4{
        margin-top: 10px;
    }
    .box3 h5{
        font-size: 10px;
    }
 
/* SECTION TWO HOBBIES*/
 
    .section_two{
        background-color: white;
        height: 82vh;
    }
    .parenttitle_H{
        height: 8.5%;
        border: black solid 2px;
    }
    .parentcontent_H{
        height: 80%;
        width: 100%;
    }
    .hobby_title::before, .hobby_title::after{
        width: 350px;
    }
    .parent1{
        height: 80%;
        width: 80%;
    }
    .baby1, .baby2, .baby3{
        height: 70%;
        width: 30%;
    }
    .code_icon{
        height: 90%;
        width: 90%;
    }
    .code_text h4{
        font-size: 25px;
    }
    .code_text p{
        font-size: 14.5px;
    }
    .sport_icon{
        height: 90%;
        width: 100%;
    }
    .sport_text h4{
        font-size: 25px;
    }
    .sport_text p{
        font-size: 14.5px;
    }
    .travel_icon{
        height: 90%;
        width: 90%;
    }
    .travel_text h4{
        font-size: 25px;
    }
    .travel_text p{
        font-size: 14.5px;
    }

 
/* SECTION THREE SERVICES*/
    .section_three{
        border: black solid 2px;
        height: 82vh;
    }
    .parenttitle_A{
        height: 8.5%;
        width: 100%;
        border: black solid 2px;
    }
    .parentcontent_A{
        height: 90%;
        width: 100%;
        border: blue solid 2px;
    }
    .services_title::before, .services_title::after{
        height: 2.5px;
        width: 350px;
    }
    .thirdparent{
        height: 60%;
        width: 80%;
        border: black solid 2px;
    }
    .web_pic{
        height: 90%;
        width: 90%;
    }
    .web_title h3{
        font-size: 18px;
    }
    .web_title p{
        font-size: 14px;
        line-height: 30px;
    }
    .gd_pic{
        height: 90%;
        width: 90%;
    }
    .gd_title h3{
        font-size: 18px;
    }
    .gd_title p{
        font-size: 14px;
        line-height: 30px;
    }


/* SECTION FOUR SKILLS*/
    .section_four{
        border: green solid 2px;
        height: 82vh;
    }
    .parenttitle_S{
        height: 8.5%;
        width: 100%;
        border: black solid 2px;
    }
    .skills_title::before, .skills_title::after{
        width: 350px;
    }
    .parentcontent_S{
        height: 90%;
        width: 90%;
        border: green solid 2px;
 
    }
    .skills-section {
        height: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: 900px;
        width: 90%;
        justify-content: center;
        align-items: center;
        border: yellow solid 2px;
 
    }
 
/* SECTION FIVE GALLERY */
    .section_five{
        border: red solid 2px;
        height: 82vh;
    }
    .parenttitle_G{
        height: 8.5%;
        border: black solid 2px;
    }
    .gallery_title::before, .gallery_title::after{
        width: 350px;
    }
    .parentgal{
        height: 90%;
        width: 70%;
        border: red solid 2px;
    }
    .parentcontent_G{
        height: 60%;
        width: 100%;
    }
 
/* SECTION SIX REVIEWS */
    .section_six{
        border: black solid 2px;
        height: 82vh;
    }
    .parenttitle_R{
        height: 8.5%;
        width: 100%;
        border: black solid 2px;
 
    }
    .reviews_cont h2{
        font-size: 17px;
    }
    .reviews_title::after{
        content: "";
        height: 2.5px;
        width: 700px;
        background-color: black;
        display: block;
    }
    .container {
        height: 80%;
        width: 80%;
        border: green solid 2px;
    }
}


/* ------------------------------------------------------------------- */
@media(min-width: 1440px)
{
    .section_one{
        background-color: white;
        height: 100vh;
       }
/* SECTION ONE */
    .firstline{
        height: 10%;
        width: 100%;
    }
    .logo{
        margin: 25px;
        width: 50%;
        gap: 20px;
        font-size: 10px;
    }
    .logo h2{
        font-size: 20px;
    }
    .WDlogo{
        padding-top: 10px;
        height: 50px;
        width: 10%;
    }
    .nav{
        margin: 35px;
        width: 50%;
    }
    .nav ul li a {
        font-size: 20px;
    }
    .child1{
        height: 40%;
        width: 100%;
    }
    .background{
        height: 100%;
        width: 100%;
        position: relative;
    }
    .bg{
        height: 100%;
        width: 100%;
    }
    .background_text{
        line-height: 30px;
    }
    .background_text h3{
        color: black;
        font-size: 20px;
    }
    .containerL{
        height: 100%;
        width: 30%;
        margin-right: 10px;
        margin-left: 150px;
    }
    .ID{
        height: 170px;
        width: 170px;
    }
    .text_containerL h1{
        font-size: 25px;
    }
    .text_containerL h4{
        font-size: 15px;
    }
    .containerR{
        height: 90%;
        width: 40%;
    }
    .div2{
        margin-bottom: 0;
    }
    .abouttext p{
        font-size: 16px;
    }
    .div3{
        height: 25%;
        width: 100%;
        border: black solid 2px;
    }
    .box{
        height: 90%;
        width: 25%;
    }
    .box1 h4{
        margin-top: 20px;
        font-size: 15px;
    }
    .box1 h5{
        font-size: 15px;
    }
    .box2 h4{
        margin-top: 20px;
        font-size: 15px;
    }
    .box2 h5{
        font-size: 14px;
    }
    .box3 h4{
        margin-top: 20px;
        font-size: 15px;
    }
    .box3 h5{
        font-size: 13px;
    }
 
/* SECTION TWO HOBBIES*/
    .section_two{
        border: red solid 2px;
        height: 100vh;
    }
    .parenttitle_H{
        height: 10%;
        border: black solid 2px;
    }
    .parentcontent_H{
        height: 90%;
        width: 100%;
        margin-bottom: 0;
    }
    .hobby_title{
        display: grid;
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        column-gap: 100px;
    }
    .hobby_title::before, .hobby_title::after{
        width: 500px;
    }
    .parent1{
        height: 80%;
        width: 70%;
    }
    .baby1, .baby2, .baby3{
        height: 75%;
        width: 30%;
    }
    .code_icon{
        height: 100%;
        width: 100%;
    }
    .code_text h4{
        font-size: 30px;
    }
    .code_text p{
        font-size: 15px;
    }
    .sport_icon{
        height: 100%;
        width: 100%;
    }
    .sport_text h4{
        font-size: 30px;
    }
    .sport_text p{
        font-size: 15px;
    }
    .travel_icon{
        height: 100%;
        width: 100%;
    }
    .travel_text h4{
        font-size: 30px;
    }
    .travel_text p{
        font-size: 15px;
    }
 
/* SECTION THREE SERVICES*/
    .section_three{
        border: black solid 2px;
        height: 100vh;
    }
    .parenttitle_A{
        height: 10%;
        width: 100%;
    }
    .parentcontent_A{
        height: 90%;
        width: 100%;
        border: blue solid 2px;
    }
    .services_title::before, .services_title::after{
        height: 2px;
        width: 500px;
    }
    .thirdparent{
        height: 70%;
        width: 60%;
    }
    .web_title p{
        font-size: 15px;
        line-height: 30px;
    }
    .gd_title p{
        font-size: 14px;
        line-height: 35px;
    }


/* SECTION FOUR SKILLS*/
    .section_four{
        border: green solid 2px;
        height: 100vh;
    }
    .parenttitle_S{
        height: 10%;
        width: 100%;
    }
    .skills_title::before, .skills_title::after{
        height: 2.5px;
        width: 500px;
    }
    .parentcontent_S{
        height: 90%;
        width: 100%;
        border: green solid 2px;
    }
    .skills-section {
        height: 75%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 1000px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .icon1{
        font-size: 10px;
    }
 
/* SECTION FIVE GALLERY */
    .section_five{
        border: red solid 2px;
        height: 100vh;
    }
    .parenttitle_G{
        height: 10%;
        border: black solid 2px;
    }
    .gallery_title::before, .gallery_title::after{
        width: 500px;
    }
    .parentgal{
        height: 90%;
        width: 60%;
    }
    .parentcontent_G{
        height: 80%;
        width: 100%;
    }
 
/* SECTION SIX REVIEWS */
    .section_six{
        border: black solid 2px;
        height: 100vh;
    }
    .parenttitle_R{
        height: 10%;
        width: 100%;
        border: black solid 2px;
    }
    .reviews_cont h2{
        font-size: 20px;
    }
    .container {
        height: 80%;
        width: 80%;
        border: green solid 2px;
    }
    .reviews_title::after{
        content: "";
        height: 2.5px;
        width: 1050px;
        background-color: black;
        display: block;
    }
}

