@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*, *::after, *::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat';
}
/* NAV BAR */
.section_one{
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}
.firstline{
    height: 10%;
    width: 100vw;
    background-color: #ab1457;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
}
.logo{
    margin: 15px;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 10px;
}
.WDlogo{
    padding-top: 10px;
    height: 50px;
    width: 10%;
    justify-content: start;
    align-items: center;
    border-radius: 100px;
}
.nav{
    margin: 25px;
    width: 50%;
    font-size: 15px;
}
.nav a {
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    transition: color 0.3s; 
}
.nav a:hover {
    color: black;
}
.nav a:active {
    color: black
}
 ul{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
  }
/* ABOUT ME */
/* .section_one{
    height: 100vh;
    width: 100vw;
    background-color: #FFEBD4;
} */
.parent{
    height: 90%;
    width: 100%;
}
.child1{
    height: 40%;
    width: 100%;
}
.background{
    height: 100%;
    width: 30%;
    position: relative;
}
.bg{
    height: 100%;
    width: 100vw;

}
.background_text{
    position: absolute;
    top: 0;
    padding: 10px;
}

.child2{
    height: 60%;
    width: 100%;
    display: flex;
}
.containerL{
    height: 100%;
    width: 30%;
    margin-left: 150px;
}
.container_ID{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ID{
    height: 170px;
    width: 170px;

}
.text_containerL{
    height: 30%;
    width: 100%;
}
.text_containerL h1{
    text-align: center;
    color: #ab1457;
    display: flex;
    
    justify-content: center;
    font-size: 25px;
}
.text_containerL h4{
    text-align: center;
    font-size: 15px;
}
.containerR{
    height: 90%;
    width: 40%;

}
.div1{
    height: 25%;
    width: 100%;
}
.aboutme{
    margin-top: 25px;
}
.aboutme h2{
    color: black;
    font-size: 15px;
}
.aboutme h1{
    color: #ab1457;
    font-size: 20px;
}
.div2{
    height: 45%;
    width: 100%;
    align-items: start;
}
.abouttext{
    padding-top: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.div3{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box{
    height: 90%;
    width: 25%;
    border: #ca8787 3px solid;
    margin-left: 10px;
    margin-right: 10px;


}
.box1 h4{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.box1 h5{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2 h4{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.box2 h5{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3 h4{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.box3 h5{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* SECTION 2 "HOBBIES"*/
.section_two{
    height: 100vh;
    width: 100vw;
    background-color: white;
    flex-direction: column;
    display: flex;
    gap: 20px;
    border: black solid 2px;
}
.parenttitle_H{
    height: 10%;
    width: 100%;
    margin-top: 20px;
}
.hobby_cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hobby_title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 18px;
}
.hobby_title::before, .hobby_title::after{
    content: "";
    height: 2px;
    background-color: black;
    display: block;
}
/* .line1{ 
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hobbies{
    height: 70%;
    width: 50% ;
    background-color:#CA8787;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: white;
}
.secparent{
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    gap: 5px;
    border: 3px solid red;
/* } */
/* .hobbyparent{ 
    height: 90px;
    width: 40%;
    display: flex;  
    justify-content: center;
    align-items: start;
    color: black;
}*/
.parentcontent_H{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent1{
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: blue solid 2px;
}
.baby1{
    height: 70%;
    width: 25%;
    border-radius: 50px;
    background-color: #ffefef;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.coding_icon{
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.code_icon{
    height: 100%;
    width: 100%;

}
.code_text{
    height: 60%;
    width: 100%;
}
.code_text h4{
    margin-left: 20px;
    font-size: 30px;
}
.code_text p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 17px;
}
.baby2{
    height: 70%;
    width: 25%;
    border-radius: 50px;
    background-color: #ffefef;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sports_icon{
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.sport_icon{
    height: 100%;
    width: 100%;
}
.sport_text{
    height: 60%;
    width: 100%;
}
.sport_text h4{
    margin-left: 20px;
    font-size: 30px;
}
.sport_text p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 17px;
}
.baby3{
    height: 70%;
    width: 25%;
    border-radius: 50px;
    background-color: #ffefef;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.travelling_icon{
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.travel_icon{
    height: 100%;
    width: 100%;
}
.travel_text{
    height: 60%;
    width: 100%;
}
.travel_text h4{
    margin-left: 20px;
    font-size: 30px;
}
.travel_text p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 17px;
}

/* THIRD SECTION "ANYTHING" */
.section_three{
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
/*.skillsparent{
    height: 90px;
    width: 40%;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color:#CA8787;
    color: white;
 } */

.thirdparent{
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxL{
    height: 100%;
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.webpic{
    height: 45%;
    width: 65%;
    margin-top: 10px;
    margin-left: 70px;
}
.web_pic{
    height: 100%;
    width: 100%;
}
.web_text {
    height: 50%;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
}
.web_title{
    margin: 10px;
}
.web_title h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.web_title p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 50px;
    color: #ab1457;
    letter-spacing: .5px;
    line-height: 30px;
}

.boxR{
    height: 100%;
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}
.graphicpic{
    height: 45%;
    width: 65%;
    margin-top: 10px;
    margin-left: 70px;
}
.gd_pic{
    height: 100%;
    width: 100%;
}
.gd_text {
    height: 50%;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
}
.gd_title{
    margin-top: 10px;
}
.gd_title h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.gd_title p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 50px;
    color: #ab1457;
    letter-spacing: 2px;
    line-height: 35px;
}


/* FOURTH SECTION "SKILLS" */
.section_four{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: blue solid 2px;
}
.skillparent{
    height: 50px;
    width: 40%;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.skills-section {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    gap: 20px;
    max-width: 1000px; /* Center the content */
    width: 100%; 
    justify-content: center;
    align-items: center;
    border: red solid 2px;
}

.skill-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    padding: 20px;
    text-align: center;
}

.icon {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #ab1457;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}
.icon1 {
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #ab1457;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}

h3 {
    color: #ab1457;
    margin-bottom: 10px;
}

p {
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 25px;
    width: 100%;
    height: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    border-radius: 25px;
}


.progress-photoshop {
    width: 85%; 
    background-color: #ab1457; 
}

.progress-illustrator {
    width: 90%; 
    background-color: #ab1457; 
}

.progress-html-css {
    width: 80%; 
    background-color: #ab1457; /
}

.progress-javascript {
    width: 75%; 
    background-color: #ab1457; 
}

.progress-flash {
    width: 65%; 
    background-color: #ab1457; 
}

.progress-csharp {
    width: 70%; 
    background-color: #ab1457; 
}

 /* FIFTH SECTION 'GALLERY' */
.section_five{
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    border: black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .fifthparent{
    height: 60%;
    width: 60%;

    align-items: center;
    display: flex;
 }
 .galleryL{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
 }
 .tokyo{
    height: 100%;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
 }
 .galleryR{
    height: 100%;
    width:50%;

 }
 .up{
    height: 50%;
    width: 90%;

    justify-content: space-evenly;
    display: flex;
    gap: 10px;
 }
 .bread{
    height: 95%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .lion{
    height: 95%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
 }
 .down{
    height: 50%;
    width: 90%;

    justify-content: space-evenly;
    display: flex;
    gap: 10px;
 }
 .downL{
    height: 100%;
    width: 50%;

    display: flex;
    align-items: end;
 }
 .gd1{
    height: 95%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .downR{
    height: 100%;
    width: 50%;

    display: flex;
    align-items: end;
 }
 .paris{
    height: 95%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
